html
    head
        title Nueva Materia
    body
        form(action="/materia" method="post")
            label Nombre
                input(type="text" name="materia")
                br
            
            input(type="submit" value="Agregar")