html
    head
        title Nuevo Estudiante
    body
        form(action="/estudiante" method="post")
            label Nombre
                input(type="text" name="nombre")
                br
            label Apellido
                input(type="text" name="apellido")
                br
            label Edad
                input(type="text" name="edad")
                br
            label Telefono
                input(type="text" name="telefono")
                br
            label email
                input(type="text" name="email")
                br
            label acudiente
                input(type="text" name="acudiente")
                br
            label Foto
                input(type="text" name="foto")
                br
            input(type="submit" value="Agregar")